body {
    background: linear-gradient(30deg, rgb(77,77,77), rgb(58,58,58));
    color: rgb(68, 68, 68);
}

header {
    position: static;
}

main ul {
    width: 800px;
    margin: 0 auto;
}
main li {
    display: flex;
    background-color: white;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    overflow: hidden;
    
}
main li img { 
    width: 300px;
    height: 280px;
    object-fit: cover;
    
}

.item-content {
    padding: 24px;
    color: rgb(67, 67, 67);
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    font-size: 18px;
}
.item-content h2 {
    color: rgb(67, 67, 67);
    font-size: 38px;
    margin: 0px;

}
.actions {
    display:flex;
    justify-content:end; 

  }

  .actions a {
    padding: 6px;
    text-decoration: none;
    color: rgb(22, 211, 228);
    font-size: 24px;
    border-radius: 5px;
  }

  .actions a:hover {
      background-color: rgb(235, 253, 255);
  }
  footer{
   
  }