body {
  background: linear-gradient(30deg, rgb(77, 77, 77), rgb(58, 58, 58));
  color: rgb(68, 68, 68);
}
#page-logo {
  color: rgb(183, 230, 235);
}

header {
  position: static;
}
header a {
  color: rgb(183, 230, 235);
}
header nav a:hover {
    color: rgb(59, 59, 59);
    background-color: rgb(183, 230, 235);
  }
  
main ul {
  width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px 20px;
}
main li {
  display: flex;
  background-color: white;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  overflow: hidden;
}
main li img {
  width: 300px;
  height: auto;
  object-fit: cover;
}

.item-content {
  padding: 24px;
  color: rgb(67, 67, 67);
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  font-size: 18px;
}
.item-content h2 {
  color: rgb(67, 67, 67);
  font-size: 38px;
  margin: 0px 10px 10px 0;
}
.actions {
  display: flex;
  justify-content: end;
}

.actions a {
  padding: 6px;
  text-decoration: none;
  color: rgb(22, 211, 228);
  font-size: 24px;
  border-radius: 5px;
}

.actions a:hover {
  background-color: rgb(235, 253, 255);
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}
.near-eachother {
  display: flex;
}

li:nth-of-type(3) {
  grid-column: 1 / span 2;
}

#page-logo a {
  color: rgb(169, 199, 255);
}

